<div class="jumbotron">
  <h1 class="display-4">All Pokedexes</h1>
  <p class="lead">This page will display all Pokedexes in the PokeApi</p>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
<%= paginate @pokedexes %>
<div class="row">
  <% @pokedexes.each do |pokedex| %>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title"><%= pokedex.name %></h5>
          <%= link_to "Show More", pokedex_path(pokedex.id), {:class=>"btn btn-primary"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
