<%= image_tag @type.name + ".png", {:alt=>@type.name + " type picture"} %>
<h2>Type: <%= @type.name %></h2>
<h2>Type ID: <%= @type.id %></h2>
<% if @type.pokemons.count > 0 %>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      List <%= @type.pokemons.count %> Pokemon with the <%= @type.name %> type
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <ul class="list-group">
      <% @type.pokemons.each do |pokemon| %>
        <li class="list-group-item">
          <%= link_to pokemon.name, pokemon_path(pokemon.id) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>