<div class="jumbotron">
  <h1 class="display-4">All Pokemon Species</h1>
  <p class="lead">This page will display all Pokemon species in the PokeApi</p>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>
<%= paginate @pokemon_species %>
<div class="row">
  <% @pokemon_species.each do |pokemon_specy| %>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h5 class="card-title"><%= pokemon_specy.name %></h5>
          <%= link_to "Show More", pokemon_specy_path(pokemon_specy.id), {:class=>"btn btn-primary"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
