<h2>Name: <%= @pokemon.name %></h2>
<h2>Height: <%= @pokemon.height %> decimetres</h2>
<h2>Weight: <%= @pokemon.weight %> hectograms</h2>
<h2>
  Type:
  <% @pokemon.types.each do |type| %>
    <%= link_to type.name, type_path(type.id).html_safe %>
  <% end %>
</h2>
<h2>Base Species Name: <%= link_to @pokemon.pokemon_specy.name, pokemon_specy_path(@pokemon.pokemon_specy_id) %></h2>